@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Work+Sans:wght@100;200;300;400&display=swap');

.App {
  text-align: center;
  
}

.form-container{
  width: 100vw;
  height: 100vh;
  background-color: #1d2951;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-container *{
  font-family: 'Work Sans', sans-serif;
  font-size: small;
  
}

@media (max-width:480px){



img {
  margin-top: 25px;
  height: 10%;
  height: 10%;
}

form{
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



form input{
  height: 4vh;
  width: 80%;
  margin-top: 15px;
  margin-left: 10vw;
  color: #fcfcfc;
  background-color: transparent;
  border-top: none;
  border-left:none ;
  border-right: none;
  border-bottom: 2px solid #fcfcfc;
}

form input::placeholder{
  color: #fcfcfc;
  margin-left: 10px;
  opacity: 0.5;
}

form input:focus{
  outline: none;
  background-color: #0067a5;
}

form select{
  height: 5vh;
  margin-top: 15px;
  width: 82%;
  margin-left: 10vw;
}


hr{
  width: 80%;
  border:1px dashed #fcfcfc;
  margin-top: 20px;
}

form .group{
  display: flex;
  width: 90vw;
  justify-content: center;
}

button{
  align-self: center;
  margin-top: 20px;
  height: 5vh;
  width: 25vw;
  background-color: #fcfcfc;
  border: none;
  color: #0072bb;
}

}


